<div class="container">
    <h3>About:</h3>
    <p>This app is a fitness tracker for individuals doing a variety of Beachbody workouts. It aims to make it easy to
        track these workouts and even mix them with other activities like running and biking. You may have noticed this
        app is not a traditional app downloaded from an app store, but rather a website. This makes it a truly
        cross-platform tool for users on any type of device. It is compatible with any device with a web browser.</p>
    <h3>Getting Started:</h3>
    <p>To get started, create an account from the homepage. Once registered please complete your account details to
        begin
        logging your fitness activity.</p>
</div>